body{
background-color: rgb(0, 0, 0);
color: cornsilk;
text-align: center;
}

.italico{
    font-style: italic;
}

.subtitulo{
    color: #FFA500;
}

.cabecalho{
    border-bottom: 1px solid gray;
}

.rodape{
    border-top: 1px solid gray;
}